$black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$base-white: #ffffff;
$base-grey: #bdbdbd;
$background-flat-white: #f3ebe1;
$background-latte: #eae6fc;
$background-espresso: #e5e6e8;
$alt-primary-lighter: #9070ec;
$alt-primary-darker: #593cac;
$background-lightest-grey: #f8f8f8;
$alt-light-grey: #e2e2e2;
$alt-primary-opacity: rgba(120, 89, 207, 0.25);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
