.developers {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $base-grey;
  margin: 0;
  text-align: center;
}

.developers__link {
  color: $base-grey;
  text-decoration: none;
  display: inline-flex;
  gap: 4px;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:hover .developers__logo,
  &:focus .developers__logo {
    fill: $base-primary;
  }

  &:active {
    color: $alt-primary-darker;
  }

  &:active .developers__logo {
    fill: $alt-primary-darker;
  }
}
