.filter-country__label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-country__mark {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: $base-grey;
  cursor: pointer;
  flex-shrink: 0;

  &::after {
    position: relative;
    content: "";
    top: 2px;
    left: 2px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $base-white;
    transition: 0.1s;
  }
}

.filter-country__input:checked + .filter-country__mark {
  background-color: $base-primary;
  position: relative;

  &::after {
    top: 2px;
    left: 20px;
  }
}

.filter-country__input {
  display: none;

  &.disabled ~ .filter-country__value,
  &:disabled ~ .filter-country__value {
    color: $base-grey;
  }

  &.disabled + .filter-country__mark,
  &:disabled + .filter-country__mark {
    background-color: $alt-light-grey;
    cursor: default;
  }

  &.disabled:checked + .filter-country__mark,
  &:disabled:checked + .filter-country__mark {
    &::after {
      background-color: $base-grey;
    }
  }

  &:hover + .filter-country__mark,
  &:focus + .filter-country__mark {
    background-color: $alt-primary-opacity;
    box-shadow: 0 0 0 2px inset $alt-primary-lighter;
  }

  &:hover:checked + .filter-country__mark,
  &:focus:checked + .filter-country__mark {
    box-shadow: none;
    background-color: $base-primary;
  }

  &:hover:disabled + .filter-country__mark {
    background-color: $alt-light-grey;
    box-shadow: none;
  }
}
