.footer-contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts__title {
  margin-bottom: 20px;
}

.footer-contacts__link {
  font-style: normal;
  color: $black;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  gap: 6px;

  &::before {
    content: "";
    width: 13px;
    height: 16px;
    display: block;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $base-primary;
    flex-shrink: 0;
    padding-top: 22px;
  }
}

.footer-contacts__link--address {
  &::before {
    mask-image: url("../../icons/stack.svg#address");
    align-self: baseline;
  }
}

.footer-contacts__link--phone {
  &::before {
    mask-image: url("../../icons/stack.svg#phone");
  }
}
