.main-navigation__toggle {
  border: 0;
  padding: 22px;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:active {
    background-color: $base-secondary;
  }
}

.main-navigation__toggle-image {
  width: 16px;
  height: 12px;
  background-image: url("../../icons/stack.svg#menu");
  background-repeat: no-repeat;
}

.main-navigation__toggle--oppened .main-navigation__toggle-image {
  background-image: url("../../icons/stack.svg#menu-close");
}
