.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
  background-color: $base-white;
  min-width: 40px;
  min-height: 40px;
  color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px;

  &:hover:not(.pagination-list__link--current):not(.disabled),
  &:focus:not(.pagination-list__link--current):not(.disabled) {
    background-color: $alt-primary-lighter;
    color: $base-white;
  }

  &:active:not(.pagination-list__link--current):not(.disabled) {
    background-color: $alt-primary-darker;
  }

  &.disabled {
    background-color: $alt-light-grey;
    cursor: default;
    color: $base-white;
  }
}

.pagination-list__link--direction {
  opacity: 0;

  @media (max-width: 767px) {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-left: 2px solid $base-primary;
      border-bottom: 2px solid $base-primary;
      transform: rotate(45deg);
      top: 16px;
      left: 16px;
    }

    &:hover::before,
    &:focus::before,
    &.disabled::before {
      border-left: 2px solid $base-white;
      border-bottom: 2px solid $base-white;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 8px 20px;

    &::before {
      display: block;
      position: static;
    }
  }
}

.pagination-list__link--direction[href] {
  opacity: 1;
}

.pagination-list__link--prev {
  @media (min-width: $tablet-width) {
    &::before {
      content: "Назад";
    }
  }
}

.pagination-list__link--next {
  @media (max-width: 767px) {
    &::before {
      transform: rotate(-135deg);
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "Вперёд";
    }
  }
}

.pagination-list__link--current {
  background-color: transparent;
  font-weight: 600;
  color: $black;
}
