.product-list {
  padding: 16px 0 40px;
  display: grid;
  gap: 20px;
  text-align: left;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
    padding: 26px 0 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 317px);
    gap: 30px;
    padding: 26px 0 60px;
  }
}

.product-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
